<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #questionCreateForm="ngForm" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{modalTitle}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="Title">{{"Title" | localize}} *</label>
            <input id="Title" #titleInput="ngModel" class="form-control" type="text" name="Title" [(ngModel)]="inputHelper.Title" required maxlength="100" [disabled]="isView">
            <validation-messages [formCtrl]="titleInput"></validation-messages>
          </div>

          <div class="form-group">
            <label for="Description">{{"Description" | localize}} *</label>
            <input id="Description" #descriptionInput="ngModel" class="form-control" type="text" name="Description" [(ngModel)]="inputHelper.Description" required maxlength="4000" [disabled]="isView">
            <validation-messages [formCtrl]="descriptionInput"></validation-messages>
          </div>

          <div class="form-group">
            <label for="QuizType">{{"QuizType" | localize}} *</label>
            <input id="QuizType" #quizTypeInput="ngModel" class="form-control" type="text" name="QuizType" [(ngModel)]="inputHelper.QuizType" required maxlength="100" [disabled]="isDisable">
            <validation-messages [formCtrl]="quizTypeInput"></validation-messages>
          </div>

          <div class="form-group">
            <label for="SecNo">{{"SecNo" | localize}} *</label>
            <input id="SecNo" #secNoInput="ngModel" class="form-control" type="text" name="SecNo" [(ngModel)]="inputHelper.SecNo" required maxlength="100" [disabled]="isDisable">
            <validation-messages [formCtrl]="secNoInput"></validation-messages>
          </div>

          <div class="form-group">
            <label for="OptValue">{{"OptValue" | localize}} *</label>
            <input id="OptValue" #optValueInput="ngModel" class="form-control" type="text" name="OptValue" [(ngModel)]="inputHelper.OptValue" required maxlength="100" [disabled]="isView">
            <validation-messages [formCtrl]="optValueInput"></validation-messages>
          </div>

          <div class="form-group">
            <label for="ScoreWeight">{{"ScoreWeight" | localize}} *</label>
            <input id="ScoreWeight" #scoreWeightInput="ngModel" class="form-control" type="number" name="ScoreWeight" [(ngModel)]="inputHelper.ScoreWeight" required min="0" max="1" maxlength="100" [disabled]="isView">
            <validation-messages [formCtrl]="scoreWeightInput"></validation-messages>
          </div>

        </div>

        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>
          <button type="submit" class="btn btn-primary" [disabled]="!questionCreateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>