<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"ItemManage" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{"ManageItemInfo" | localize}}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper" *ngIf="status == 1">
                        <button class="btn btn-primary"><i class="fa fa-plus"></i> {{"Save" | localize}}</button>
                        <button class="btn btn-primary" (click)="exportToExcel()"><i class="fa fa-download"></i> {{"DownloadTemplate" | localize}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet">
                <div class="kt-portlet__head-label displayFlex" style="padding: 2em;padding-bottom: 0;">
                    <span class="kt-portlet__head-icon" style="padding-right:1em;"><i class="flaticon-file-2"></i></span>
                    <!-- <h3> 2020052012PNWJB6 - MDCTDR300003 </h3> -->
                    <h3  class="kt-portlet__head-title headTitleEvt">{{eventID}} - {{eventName}}</h3>
                </div>
                    <div class="kt-portlet__body filterSpecial" *ngIf="BizRegID">
                        <base-list #complianceListComponents [(gridUrl)]="gridUrl" [enableFilter]="true">
                        </base-list>
                    </div>
            </div>
        </div>
    </div>
</div>
