<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="padding: 0">
        <div class="kt-subheader kt-grid__item" id="kt_subheader">
            <div [class]="containerClass">
                
                <div class="kt-subheader__main">
              
                    <h3 class="kt-subheader__title">
                        <span>{{"MySubscription" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        <span class="kt-subheader__desc">{{"SubscriptionPlan" | localize}}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet" style="">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <div class="serviceTitle" style="display: flex;">
                                <div class="serviceIcon kt-padding-20">
                                    <img style="width:65px;" src="assets/dpl/images/Group (4).png" />
                                </div>
                                <div class="serviceDesc kt-padding-20" style="max-width: 600px;">
                                    <div id="serviceName" style="font-size:1.35em;font-weight: 600;">E-Bidding</div>
                                    <p id="simpleDesc">
                                        Our smart cloud bidding platform for buyers and vendors in multiple Live Bid sessions with graphical and detailed bid trend analysis report to users.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-actions">
                                <button type="button" class="btn btn-outline-dark kt-hide">Start Service</button>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="kt-portlet kt-portlet--height-fluid" style="border: 1px solid #333;border-radius: 5px;background-color: #fff;">
                                    <div class="kt-portlet__head kt-hide">
                                        <div class="kt-portlet__head-label"></div>
                                        <div class="kt-portlet__head-toolbar">
                                            <div class="kt-portlet__head-actions"></div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="planWrp" style="margin:0 auto">
                                            <div class="headerPlan kt-align-center" style="font-size: 2em;font-weight:600;">
                                                Basic 
                                            </div>
                                            <div class="pricingOfferPlan" style="text-align: center;margin:20px auto;">
                                                <div class="kt-block-inline" style="font-size: 0.8em;font-weight: 500;vertical-align: top;">RM</div>
                                                <div class="kt-block-inline" style="font-size: 1.5em;font-weight: 500;vertical-align: top;">0.00</div>
                                                <div class="kt-block-inline" style="font-size: 0.8em;font-weight: 500;vertical-align: Bottom;">/Year</div>
                                            </div>
                                            <div class="subcribeWrp kt-align-center"><button type="button" class="btn btn-linkedin btn-wide kt-block-inline">Subscribe</button></div>
                                            <div class="listPlan" style="line-height: 3em;">
                                                ‍
                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> lorem ipsum denada</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> lorem ipsum denada</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> lorem ipsum denada</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> RM1 / PO transaction</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-delete  kt-margin-r-15"></span> lorem ipsum denada</div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="kt-portlet kt-portlet--height-fluid" style="border: 1px solid #333;border-radius: 5px;background-color: #fff;">
                                    <div class="kt-portlet__head kt-hide">
                                        <div class="kt-portlet__head-label"></div>
                                        <div class="kt-portlet__head-toolbar">
                                            <div class="kt-portlet__head-actions"></div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="planWrp" style="margin:0 auto">
                                            <div class="headerPlan kt-align-center" style="font-size: 2em;font-weight:600;">
                                                Plus 
                                            </div>
                                            <div class="pricingOfferPlan" style="text-align: center;margin:20px auto;">
                                                <div class="kt-block-inline" style="font-size: 0.8em;font-weight: 500;vertical-align: top;">RM</div>
                                                <div class="kt-block-inline" style="font-size: 1.5em;font-weight: 500;vertical-align: top;">120.00</div>
                                                <div class="kt-block-inline" style="font-size: 0.8em;font-weight: 500;vertical-align: Bottom;">/Year</div>
                                            </div>
                                            <div class="subcribeWrp kt-align-center"><button type="button" class="btn btn-linkedin btn-wide kt-block-inline">Subscribe</button></div>
                                            <div class="listPlan" style="line-height: 3em;">
                                                ‍
                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> lorem ipsum denada</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> lorem ipsum denada</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> lorem ipsum denada</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> RM1 / PO transaction</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-delete  kt-margin-r-15"></span> lorem ipsum denada</div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="kt-portlet kt-portlet--height-fluid" style="border: 1px solid #333;border-radius: 5px;background-color: #fff;">
                                    <div class="kt-portlet__head kt-hide">
                                        <div class="kt-portlet__head-label"></div>
                                        <div class="kt-portlet__head-toolbar">
                                            <div class="kt-portlet__head-actions"></div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="planWrp" style="margin:0 auto">
                                            <div class="headerPlan kt-align-center" style="font-size: 2em;font-weight:600;">
                                                Advanced 
                                            </div>
                                            <div class="pricingOfferPlan" style="text-align: center;margin:20px auto;">
                                                <div class="kt-block-inline" style="font-size: 0.8em;font-weight: 500;vertical-align: top;">RM</div>
                                                <div class="kt-block-inline" style="font-size: 1.5em;font-weight: 500;vertical-align: top;">180.00</div>
                                                <div class="kt-block-inline" style="font-size: 0.8em;font-weight: 500;vertical-align: Bottom;">/Year</div>
                                            </div>
                                            <div class="subcribeWrp kt-align-center"><button type="button" class="btn btn-linkedin btn-wide kt-block-inline">Subscribe</button></div>
                                            <div class="listPlan" style="line-height: 3em;">
                                                ‍
                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> lorem ipsum denada</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> lorem ipsum denada</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> lorem ipsum denada</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-check-mark  kt-margin-r-15"></span> RM1 / PO transaction</div>

                                                <div class="listPlanLine"><span style="font-size: 1.3em;color:rgb(3, 94, 3)" class="flaticon2-delete  kt-margin-r-15"></span> lorem ipsum denada</div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>