<div style="margin-bottom: 1rem;" class="form-group col">
    <div class="col-12 row">
        <div class="col-md-9 row">
            <label class="col-sm-1 col-form-label">{{ questionNo }}.</label>
            <label class="col-sm-11 col-form-label">{{ question | localize }}</label>
        </div>
        <div class="col-md-3">
            <div class="form-group row">
                <div [ngClass]="mode == 1 ? 'col-sm-10' : 'col-sm-12'">
                    <ng-select [disabled]="mode > 1" [(ngModel)]="answer" [items]="options" [closeOnSelect]="true" bindLabel="remark"
                        (change)="onSelected($event)">
                    </ng-select>
                </div>
    
                <div [hidden]="mode != 1" [ngClass]="mode == 1 ? 'col-sm-2' : ''">
                    <button [disabled]="!answer" class="kt-align-right btn btn-sm btn-icon btn-circle {{ isRemark ? 'btn-outline-danger' : !answer? 'btn-secondary' : 'btn-outline-success' }}" title="{{ isRemark ? 'Clear' : 'Add'}} Remark" (click)="showRemark()"><i class="la {{ isRemark ? 'la-close' : 'la-pencil' }}"></i></button>
                </div>
    
            </div>
        </div>
    </div>
    <textarea [disabled]="mode != 1" *ngIf="isRemark" class="col-12" rows="2" spellcheck="true" placeholder="Add Remark.." [(ngModel)]="remark" (ngModelChange)="onRemarkChanged()" (blur)="onRemarkBlurred()">{{remark}}</textarea>
</div>
