<div bsModal #selectDoctypeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="selectModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{"UploadDocument" | localize}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="kt-widget4" style="padding: 0px 15px;">
                                <div class="kt-widget4__item">
                                    <ng-container *ngIf="isOpen==true">
                                        <div *ngIf="file.type.indexOf('image/') > -1" class="kt-widget4__pic kt-widget4__pic--pic">
                                            <img [src]="file.objectURL" alt="">
                                        </div>
                                        <div *ngIf="file.type.indexOf('/pdf') > -1" class="kt-widget4__pic kt-widget4__pic--icon">
                                            <img src="/assets/common/images/icon/pdf.svg" alt="">
                                        </div>
                                        <div *ngIf="file.type.indexOf('/vnd.openxmlformats-officedocument.spreadsheetml.sheet') > -1"
                                            class="kt-widget4__pic kt-widget4__pic--icon">
                                            <img src="/assets/common/images/icon/xlsx.svg" alt="">
                                        </div>
                                        <div *ngIf="file.type.indexOf('/vnd.ms-excel') > -1 && file.name.indexOf('.xls') > -1"
                                            class="kt-widget4__pic kt-widget4__pic--icon">
                                            <img src="/assets/common/images/icon/xls.svg" alt="">
                                        </div>
                                        <div *ngIf="file.type.indexOf('/vnd.ms-excel') > -1 && file.name.indexOf('.csv') > -1"
                                            class="kt-widget4__pic kt-widget4__pic--icon">
                                            <img src="/assets/common/images/icon/csv.svg" alt="">
                                        </div>
                                        <div *ngIf="file.type.indexOf('/vnd.openxmlformats-officedocument.wordprocessingml.document') > -1"
                                            class="kt-widget4__pic kt-widget4__pic--icon">
                                            <img src="/assets/common/images/icon/docx.svg" alt="">
                                        </div>
                                        <div *ngIf="file.type.indexOf('/msword') > -1" class="kt-widget4__pic kt-widget4__pic--icon">
                                            <img src="/assets/common/images/icon/doc.svg" alt="">
                                        </div>
                                        <div *ngIf="file.type.indexOf('/x-zip-compressed') > -1" class="kt-widget4__pic kt-widget4__pic--icon">
                                            <img src="/assets/common/images/icon/zip.svg" alt="">
                                        </div>
                                        <div class="kt-widget4__info">
                                            <a class="kt-widget4__title">
                                                {{file.name}}
                                            </a>
                                            <p class="kt-widget4__text">
                                                {{file.size | fileSize}}
                                            </p>
                                        </div>
                                    </ng-container>

                                    <!-- <a href="#" class="btn btn-sm btn-label-danger btn-bold pi pi-times">{{"Remove" | localize}}</a> -->
                                    <!-- <span><button type="button" icon="pi pi-times" pButton (click)="remove(event, file)"></button></span> -->

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">{{"Type of Document" | localize}}</label>
                                
                                            <ng-select class="col-md-8" [(ngModel)]="inputHelper.selectSeq" [items]="sectionCombo" [closeOnSelect]="true"
                                            bindLabel="Description" bindValue="id" >
                                                <ng-template ng-label-tmp let-item="item">
                                                    <h6 class="kt-portlet__head-title">{{item.Description}} - {{item.GroupDesc}}</h6>
                                                </ng-template>
                                                <ng-template ng-option-tmp let-item="item">
                                                    {{item.Description}}<br>
                                                    <small><b> {{item.GroupDesc}}</b></small><br />
                                                    <small>{{item.SectionDesc}}</small>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()"><i class="fa fa-times"></i>{{"cancel" | localize}}</button>
                <button *ngIf="isHaveData" type="button" class="btn btn-primary" (click)="upload()"><i class="fa fa-plus"></i>{{"upload" | localize}}</button>                
            </div>
        </div>
    </div>
    
</div>
