<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
          <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
              {{"ManageSection" | localize}}
            </h3>
            <div class="kt-subheader__breadcrumbs">
              <a href="#" class="kt-subheader__breadcrumbs-home">
                <i class="flaticon2-shelter"></i>
              </a>
              <span class="kt-subheader__breadcrumbs-separator"></span>
              <a class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">{{"ManageSectionHeaderInfo" | localize}}</a>
            </div>
          </div>
          <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
              <!-- <button (click)="goBack()" class="btn btn-bold btn-md btn-font-md btn-label-warning">
                            <i class="fa fa-arrow-circle-left"></i> {{"Back" | localize}}
                        </button> -->
              <button (click)="createSection()" class="btn btn-primary"><i class="fa fa-plus"></i> {{"CreateNewSection" | localize}}</button>
            </div>
          </div>
        </div>
      </div>
  
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
          <div class="kt-portlet__body">
            <div class="row align-items-center mb-4">
              <div class="col-xl-12">
                <div class="input-group">
                  <!-- <input [(ngModel)]="inputFilter" name="inputFilter" id="inputFilter" (keyup.enter)="searchArea()"
                    autoFocus class="form-control m-input" [placeholder]="l('AreaSearchWithThreeDot')" type="text">
                  <span class="input-group-btn">
                    <button (click)="searchArea()" class="btn btn-primary" type="submit">
                      <i class="fa fa-search"></i> {{"Search" | localize}}</button>
                  </span> -->
                </div>
              </div>
            </div>
            <base-list #sectionList [(gridUrl)]="gridUrl" [actionColumn]="actionFlag" [permissionView]="permissionView"
              (onViewClick)="viewSection($event, 'view')" [permissionEdit]="permissionEdit" (onEditClick)="viewSection($event)"
              [permissionDelete]="permissionDelete" (onDeleteClick)="deleteSection($event)"
              [enableFilter]="false">
            </base-list>
          </div>
        </div>
      </div>
  
      <createOrEditSectionModal #createOrEditSectionModal (modalSave)="refresh()"></createOrEditSectionModal>
    </div>
  </div>