<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
            
                <div class="kt-subheader__main">
                    <button type="button" style="margin-right:15px;" (click)="back()"
                            class="btn btn-outline-metal back">
                        <i class="fa fa-arrow-left"></i>{{"Back" | localize}}
                    </button>
                    <h3 class="kt-subheader__title">
                        <span>{{"ManageAnswerOptGroup" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        <span class="kt-subheader__desc">{{"ManageAnswerHeaderInfo" | localize}}</span>
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="create($event)" *ngIf="isGranted(permissionCreate)" class="btn btn-primary">
                            <i class="fa fa-plus"></i> {{"AssignAnswerOptGroup" | localize}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet">
                <div class="kt-portlet__body filterSpecial">

                    <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                            <label class="required">{{'Name' | localize}}</label>
                            <input  type="text" name="text" id="text" class="form-control" [(ngModel)]="inputHelper.Text" disabled>
                           </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <base-list #answerOptGroupComponent [(gridUrl)]="gridUrl" actionColumn="action"
                                [permissionDelete]="permissionDelete" (onDeleteClick)="delete($event)"
                                [enableFilter]="false">
                            </base-list>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <createOrEditAnswerOptGroupModal #createOrEditAnswerOptGroupModal (modalSave)="refresh($event)">
    </createOrEditAnswerOptGroupModal>
</div>