<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                
                <div class="kt-subheader__main">
                    <button type="button" style="margin-right:15px;" (click)="back()"
                            class="btn btn-outline-metal back">
                        <i class="fa fa-arrow-left"></i>{{"Back" | localize}}
                    </button>
                    <h3 class="kt-subheader__title">
                        <span>{{"ManageQuestionnaire" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        <span class="kt-subheader__desc">{{"ManageQuestionnaire" | localize}}</span>
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="create()" *ngIf="isGranted(permissionCreate)" class="btn btn-primary">
                            <i class="fa fa-plus"></i> {{"CreateNewQuestions" | localize}}
                        </button>
                        <!-- <button (click)="refresh()" *ngIf="isGranted(permissionView)"
                                [disabled]="disableRefresh" class="btn btn-primary">
                            <i class="fa flaticon-refresh"></i> {{"Refresh" | localize}}
                        </button> -->
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet">
                <div class="kt-portlet__body filterSpecial">
                    <base-list #manageQuestionnaireComponent [(gridUrl)]="gridUrl" actionColumn="action" [enableFilter]="true" [filterTemplate]="filterQuestion"
                        [permissionEdit]="permissionEdit" (onEditClick)="edit($event)" [permissionDelete]="permissionDelete" (onDeleteClick)="delete($event)"
                        detail="true" detailAlignment="left" (onDetailClick)="detailQuestionnaire($event)">
                    </base-list>
                    <ng-template #filterQuestion>
                        <div class="row filterContent">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <label class="col-form-label">{{"Quiz" | localize}}</label>
                                <ng-select [(ngModel)]="selectedQuizID" [items]="comboQuiz" [closeOnSelect]="true" bindValue="QuizID" bindLabel="Description" (change)="refreshFilter($event)">
                                </ng-select>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <label class="col-form-label">{{"Type" | localize}}</label>
                                <ng-select [(ngModel)]="selectedType" [items]="comboQuiz" [closeOnSelect]="true" bindValue="QuizType" bindLabel="QuizType" (change)="refreshFilter($event)">
                                </ng-select>
                            </div>
                        </div>
                    </ng-template>
                </div>
           </div>
        </div>
    </div>
    <createOrEditQuestionhdrModal #createOrEditQuestionhdrModal (modalSave)="refresh($event)"></createOrEditQuestionhdrModal>
</div>
