<!-- <full-calendar #calendar [plugins]="calendarPlugins" [defaultView]="defaultView" [events]="events"
    [header]="header" [editable]="editable" [droppable]="droppable"
    [weekends]="weekends" [showNonCurrentDates]="showNonCurrentDates" [allDaySlot]="allDaySlot"
    [slotEventOverlap]="slotEventOverlap" (eventRender)="eventRender($event)" (viewRender)="viewRender($event)" (eventClick)="handleEventClick($event)" (dateClick)="handleDateClick($event)"
    (eventDragStop)="eventDragStop($event)"></full-calendar> -->

<p-fullCalendar #calendar [(events)]="events" [options]="options"></p-fullCalendar>