<div [@routerTransition]>
    <div id="offerSection" class="displayFlex" style="">
        <div class="marginAuto" style="position:relative;">
           <div id="carouselExampleIndicators" class="carousel slide my-carousel" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                 <div class="carousel-item active" data-pause="hover">
                    <div class="d-block w-100" alt="First slide">
                       <div class="sectionImg">
                          <img class="d-block w-100" src="assets/common/images/cta/lead1a_.png" alt="First slide">
                       </div>
                       <div class="sectionImg">
                          <a (click)="iqosAngkasaOnClick()" id="joinDatabase" href="https://scanpack.pmicloud.biz/malaysia/spice-malaysia-en?rid=00558000003cvZLAAY&campaignname=ANGKASA"></a>
                          <img class="d-block w-100" src="assets/common/images/cta/lead1b_.png" alt="First slide">
                       </div>
                       <div class="sectionImg">
                          <a (click)="iqosLazadaOnClick()" id="rentNow" href="https://www.lazada.com.my/shop/i/landing_page/voucher?sellerId=300143349232&amp;voucherId=204659850249232&amp;wh_weex=true"></a>
                          <img class="d-block w-100" src="assets/common/images/cta/lead2a_.png" alt="First slide">
                       </div>
                       <div class="sectionImg">
                          <img class="d-block w-100" src="assets/common/images/cta/lead2ba.png" alt="First slide">
                       </div>
                       <div class="sectionImg">
                          <div id="wrpLinkLead2" style="position:absolute;display: flex;flex-direction: row;width:100%;height: 100%;">
                             <div id="boxIQOS1" class="" style="display: flex;">
                                <a (click)="linkIQOS24QuestilOnClick()" href="https://questil.com/Eshare/account/installment" style="display: block;"></a>
                                <a (click)="linkIQOS24LazadaOnClick()" href="https://www.lazada.com.my/shop/i/landing_page/voucher?sellerId=300143349232&amp;voucherId=204657853549232&amp;wh_weex=true" style="display: block;"></a>
                             </div>
                             <div id="boxIQOS2" class="blue" style="display: flex;">
                                <a (click)="linkIQOS3DuoQuestilOnClick()" href="https://questil.com/Eshare/account/installment" style="display: block;"></a>
                                <a (click)="linkIQOS3DuoLazadaOnClick()" href="https://www.lazada.com.my/shop/i/landing_page/voucher?sellerId=300143349232&amp;voucherId=204657853549232&amp;wh_weex=true" style="display: block;"></a>
                             </div>
                             <div id="boxIQOS3" class="yellow" style="display: flex;">
                                <a (click)="linkIQOS3MultiQuestilOnClick()" href="https://questil.com/Eshare/account/installment" style="display: block;"></a>
                                <a (click)="linkIQOS3MultiLazadaOnClick()" href="https://www.lazada.com.my/shop/i/landing_page/voucher?sellerId=300143349232&amp;voucherId=204668803449232&amp;wh_weex=true" style="display: block;"></a>
                             </div>
                          </div>
                          <img class="d-block w-100" src="assets/common/images/cta/lead2bb.jpg" alt="First slide">
                       </div>
                       <div class="sectionImg">
                          <div class="displayFlex" style="position:absolute;bottom:14%;width:100%">
                             <div class="displayFlex" style="flex-basis: 100%;justify-content: space-around;">
                                <a id="contactUs" href="tel:1800883858" style="flex-basis: 35%;display: flex;">
                                <img style="width:100%" src="assets/common/images/cta/contactUs.jpg">
                                </a>
                                <a id="contactUs" href="https://malaysia.iqos.com/en/store-locator" style="flex-basis: 35%;display: flex;">
                                <img style="width:100%" src="assets/common/images/cta/locateus.jpg">
                                </a>
                             </div>
                          </div>
                          <img class="d-block w-100" src="assets/common/images/cta/lead2c.png" alt="First slide">
                       </div>
                       <div class="sectionImg">
                          <div id="boxIQOS4" style="display: flex;flex-direction: row;justify-content: space-between;">
                             <a [routerLink]="['/account/tnc']" class="yellow" style="display: block;width:100%;height:100%;"></a>
                          </div>
                          <img class="d-block w-100" src="assets/common/images/cta/lead2d.png" alt="First slide">
                       </div>
                    </div>
                 </div>
</div>
