<div [@routerTransition]>
    <div class="maxWrp">
        <div class="siteWrp">
            <h2>REFUNDS & RETURN POLICY</h2>
            <ol>
                <li><h3>APPLICATION FOR RETURNS/REFUNDS</h3>
                    <div class="subListing">
                        <ul>
                            <li>All Goods sold on the Platform shall be subjected to the terms and conditions in this Refunds & Return Policy. Buyer/Subscriber may initiate and apply for return of the purchased Goods by communicating with Eshare Sdn Bhd through the Platform. Eshare shall assist Buyer/Subscriber to resolve and overcoming the disputes.</li>
                        </ul>
                    </div>
                </li>
                <li><h3>APPLICATION FOR THE RETURN OF AN ITEM</h3>
                    <div class="subListing">
                        <ul>
                            <li>Subscriber may only apply for the refund and/or return of the Goods in the following circumstances:<br/>
                            <ol class="showLi">
                                <li>The Goods has not been received by Buyer/Subscriber.</li>
                                <li>The Goods received is incomplete (missing quantity or accessories);</li>
                                <li>The Goods received does not match the agreed specification or is materially different from the description provided in the listing of the Platform; </li>
                                <li>The Goods received is a counterfeit item;</li>
                                <li>The Goods received has physical damage (e.g. dented, scratched, shattered); and</li>
                                <li>The Goods received is faulty (e.g. malfunction, does not work as intended);</li>
                                </ol>
                            </li>
                            <li>All application must be submitted via Eshare platform and subject to Eshare discretion and approval. Eshare will review each Buyer/Subscriber’s application on a case-by-case basis and, in its sole discretion, determine whether Buyer/Subscriber’s application is successful.</li>
                            <li>When Eshare receives an application from Buyer/Subscriber for the return of the Item and/or refund, Eshare may respond to Buyer/Subscriber’s application accordingly. Eshare will respond within a reasonable time on such request raised by the Buyer/Subscriber.</li>
                        </ul>
                    </div>
                </li>
                <li><h3>CONDITION OF RETURNING ITEM</h3>
                    <div class="subListing">
                        <ul>
                            <li>Buyer/Subscriber should ensure that the Goods, including any complimentary items such as accessories that come with the Goods to be returned to Eshare in the condition received by Buyer/Subscriber. We will recommend Buyer/Subscriber to take a photo of the Item upon receipt.
                            </li>
                            <li>The general requirements for returns are as follows:-
                                <br/>
                                <ol type="a" style="margin-top: 1em;margin-bottom:1em;">
                                    <li>It must be within fourteen (14) days from the delivery date .</li>
                                    <li>You must have proof of purchase (including but not limited to, purchaser order number, purchasing invoice, delivery note and/or bank statement, where applicable).</li>
                                    <li>The product must be in like new condition. Any product that has been opened, used, altered or worn will not be accepted for return or exchange.</li>
                                    <li>The product must be returned in the original packaging along with all accessories (including but not limited to, manuals, warranty cards, certificate of authenticity, if any) and free gifts received with it.</li>
                                    <li>The product must not have been used or installed or had any data inputted.</li>
                                    <li>All sealed products must not be opened. In the event that you have opened the seal, please contact the relevant service center as indicated on the warranty card or certificate for assistance.</li>
                                    </ol>   
                            </li>
                            </ul>
                    </div>
                </li>
                <li><h3>SHIPPING FEE FOR RETURN</h3>
                    <div class="subListing">
                        <ol class="showLi">
                            <li>where the Buyer/Subscriber has a change of mind, Buyer/Subscriber shall get Eshare’s consent prior to the return request and Buyer/Subscriber will bear the return shipping fee.</li>
                            <li>where Buyer/Subscriber disputing the party liable for the return shipping fee, Eshare at its sole discretion will determine the party liable for the return shipping fee.</li>
                        </ol>
                    </div>
                </li>
                <li><h3>REFUNDS</h3>
                    <div class="subListing">
                        <ul>
                            <li>All refunds shall be made via the Platform. Buyer/Subscriber will only be refunded after Eshare has received the confirmation on returned Goods. All refunds are conditional upon Eshare’s acceptance of a valid return of the Goods.</li>
                            <li>The processing of payment may take time and it is subject to the payment provider internal processing timeline. All costs associated with the refund process imposed by the processing bank and/or payment provider shall be borne by Eshare. The refund will be made to Buyer/Subscriber’s credit/debit card/e-wallet or designated bank account, whichever is applicable. Eshare reserve the right to modify the mechanism of processing refunds at any time without notice.</li>
                        </ul>
                    </div>
                </li>
                <li><h3>COMMUNICATION</h3>
                    <div class="subListing">
                        <ul>
                            <li>Eshare encourages Buyer/Subscriber  to communicate with Eshare in the event where problem arises in a transaction or dispute for amicable settlement.</li>
                        </ul>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
